
input{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #A4A4A4;
    border: none;
}